/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 10px;
    color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.carousel-inner .zangou_slider_logo > img {
    z-index: 80;
    position: relative;
    float: right;
    margin-right: 4%;
    margin-top: 8.5%;
    background-color: #333333;
    width: 300px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.carousel-inner .zangou_slider_logo > img:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.main_logo > a {
    /* width: 120px;
     padding-bottom: 5px;*/
    font-size: 40px;
    font-family: verdana;
    padding-left: 5px;
    border-radius: 6px;
    color: white;

}

.logos > img {
    width: 120px;
    padding-bottom: 5px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    min-height: 400px;
    width: 1170px;

}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    min-height: 400px;
    width: 1170px;
    background-color: #777;
    border-radius: 6px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 400px;
    width: 1170px;
    border-radius: 6px;
}

.carousel-inner {
    float: right;
    width: 100%;
    z-index: 30;
    position: absolute;
    border-radius: 6px;
}

/*****************************************************************************************************/


