/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height
    margin: 0 auto -60px;*/
    /* Pad bottom by footer height
    padding: 0 0 60px;*/
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #ffffff;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    /*padding: 60px 15px 0;*/
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

#custom-search-input {
    margin: 0;
    margin-top: 11px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #000000;
}

.search-query:focus + button {
    z-index: 3;
}

.alert-message {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.alert-message h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.alert-message p:last-child {
    margin-bottom: 0;
}

.alert-message code {
    background-color: #fff;
    border-radius: 3px;
}

.alert-message-success {
    background-color: #F4FDF0;
    border-color: #3C763D;
}

.alert-message-success h4 {
    color: #3C763D;
}

.alert-message-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.alert-message-danger h4 {
    color: #d9534f;
}

.alert-message-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.alert-message-warning h4 {
    color: #f0ad4e;
}

.alert-message-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.alert-message-info h4 {
    color: #5bc0de;
}

.alert-message-default {
    background-color: #EEE;
    border-color: #B4B4B4;
}

.alert-message-default h4 {
    color: #000;
}

.alert-message-notice {
    background-color: #FCFCDD;
    border-color: #BDBD89;
}

.alert-message-notice h4 {
    color: #444;
}

/* Badger
------------------------- */

[class*="badger"] {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background: #999;
    color: #fff;
}

.badger-left:after {
    left: 0;
    border-radius: 6px 0 6px 0;
}

.badger-right:after {
    right: 0;
    border-radius: 0 6px 0 6px;
}

.badger-danger:after {
    background: #d9534f;
}

.badger-warning:after {
    background: #f0ad4e;
}

.badger-success:after {
    background: #5cb85c;
}

.badger-info:after {
    background: #5bc0de;
}

.badger-inverse:after {
    background: #222;
}

/******************************************************/
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/****************************************************************/
.btn-menu {
    color: #fff;

    background: #002919; /* Old browsers */
    background: -moz-linear-gradient(top, #002919 0%, #002919 25%, #025535 51%, #012900 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002919), color-stop(25%,#002919), color-stop(51%,#025535), color-stop(100%,#012900)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #002919 0%,#002919 25%,#025535 51%,#012900 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #002919 0%,#002919 25%,#025535 51%,#012900 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #002919 0%,#002919 25%,#025535 51%,#012900 100%); /* IE10+ */
    background: linear-gradient(to bottom, #002919 0%,#002919 25%,#025535 51%,#012900 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002919', endColorstr='#012900',GradientType=0 ); /* IE6-9 */
}

.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active,
.btn-menu.active,
.open .dropdown-toggle.btn-menu {
    color: #fff;
    background-color: #02513a;
}

.btn-menu:active,
.btn-menu.active,
.open .dropdown-toggle.btn-menu {
    background-image: none;
}

.btn-menu.disabled,
.btn-menu[disabled],
fieldset[disabled] .btn-menu,
.btn-menu.disabled:hover,
.btn-menu[disabled]:hover,
fieldset[disabled] .btn-menu:hover,
.btn-menu.disabled:focus,
.btn-menu[disabled]:focus,
fieldset[disabled] .btn-menu:focus,
.btn-menu.disabled:active,
.btn-menu[disabled]:active,
fieldset[disabled] .btn-menu:active,
.btn-menu.disabled.active,
.btn-menu[disabled].active,
fieldset[disabled] .btn-menu.active {
    background-color: #ff7b0d;
    border-color: #ff7b0d;
}

.btn-menu .badge {
    color: #ff7b0d;
    background-color: #fff;
}