<div class="panel panel-warning logos text-center" style="padding: 3px; width: 755px;padding-top: 5px;">
    <img src="/html/img/praz.jpg" alt="Krombacher">
    <img src="/html/img/eichener.jpg" alt="Beerhouse.AM">
    <img src="/html/img/staropramen.jpg" alt="Zangou Restourant">
    <img src="/html/img/krombacher.jpg" alt="Staropramen">
    <img src="/html/img/bernard.jpg" alt="Prazechka">
    <img src="/html/img/bakalar1.jpg" alt="Bakalar">
</div>
