<!-- Carousel
================================================== -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner">


        <div class="zangou_slider_logo"><img itemprop="image" class="img-circle center-block text-center"
                                             src="/html/img/logo2.png" alt="ZANGOU LOGO"></div>
        <div class="item active">
            <img style="border-radius: 6px;" alt="First slide"
                 src="/html/img/slide10.jpg">

            <!--div class="container">
                <div class="carousel-caption">
                    <h3>...</h3>

                    <p>...</p>
                </div>
            </div-->
        </div>
        <!--div class="item">
            <img style="border-radius: 6px;" alt="Second slide"
                 src="/html/img/slide2.jpg">


        </div-->
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide3.jpg">


        </div>
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide4.jpg">


        </div>
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide5.jpg">


        </div>
        <!--div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide6.jpg">


        </div-->
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide7.jpg">


        </div>
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide8.jpg">


        </div>
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide9.jpg">


        </div>

        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide11.jpg">


        </div>
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide12.jpg">


        </div>
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide13.jpg">


        </div>
        <div class="item">
            <img style="border-radius: 6px;" alt="Third slide"
                 src="/html/img/slide14.jpg">


        </div>
    </div>

</div>
<!-- /.carousel -->