<div class="panel panel-success" style="">
    <div class="panel-body">
        <div class="row">
            <h3 class="panel-heading">Զամբյուղ</h3>
            <div id="sidebar">
                <?php
            //var_dump($registry->url);
                if($registry->url[0] !== "checkout"){ ?>
                <div id="jcart"><?php $registry->cart->display_cart();?></div>
                <?php } else { ?>
                <div id="jcart"><?php $registry->cart->show_cart();?></div>
                <?php } ?>
            </div>
        </div>
    </div>
    <BR>
</div>