<div class="panel panel-danger">
    <div class="panel-body">

        <div class="row">
            <h3 class="panel-heading">ERROR 404 Page ... </h3>
            <h4 class="panel-heading">Նշված հասցեով Էջ գոյություն չունի։ </h4>
        </div>

    </div>
    <?php //include('html/checkout_form.tpl');?>
</div>