<div class="panel panel-info">
    <div class="panel-body" style="">
        <div class="row">
            <div class="badger-left badger-success" data-badger="<?= $registry->feedback_article_data[0]["username"] ?>">
            <?= $registry->feedback_article_data[0]["message"] ?>
        </div>
    </div>
</div>
<?php
//var_dump($registry->feedback_article_data);
?>
</div>