<div class="panel panel-danger">
    <div class="panel-body" style="">

        <div class="row">
            <h3 class="panel-heading">Կարծիքներ</h3>

            <div class="col-sm-12 col-md-12">
                <?php
                $count = count($registry->feedback_data);
                $feedb = $registry->feedback_data;
                rsort($feedb);
                for($f=0;$f<$count;$f++){
                ?>
                <div class="badger-left badger-success" data-badger="<?= $feedb[$f]["username"] ?>">
                <?php
                 if(strlen($feedb[$f]["message"]) < 128){
                echo $feedb[$f]["message"];
                } else {
                echo substr($feedb[$f]["message"], 0 ,128)."<a href='".Config::$CONFIG["HOST"]."feedback/opinion/".$feedb[$f]["idfeedback"]."'>»»...</a>";
                }
                ?>
            </div>
            <?php } ?>
        </div>
    </div>

</div>
<?php
//var_dump($registry->feedback_data);
?>
</div>