<!--div class="panel panel-success"-->
<span itemprop='menu'>
<div class="panel" style="background-color: #022f22;">
    <div class="panel-body">
        <ul class="nav2">
            <?php
        echo "<b style='color: white;'>Ուտեստներ</b>
            <hr>

            ";
            $category_food = CategoryList::get_category_list(1);
            $category_drink = CategoryList::get_category_list(2);
            //var_dump($category_food);
            //var_dump($category_drink);
            for($i=0; $i
            <count
            ($category_food); $i++){
            if($category_food[$i]["active"] == 1){
            echo '
            <li><a href="/'.str_replace(" ", "_",
                    Transfer::arm2translit($category_food[$i]["title"])).'">'.$category_food[$i]["title"].'</a></li>
            ';
            }
            }
            echo "
            <hr>
            <b style='color: white;'>Խմիչքներ</b>
            <hr>
            ";
            for($i=0; $i
            <count
            ($category_drink); $i++){
            if($category_drink[$i]["active"] == 1){
            echo '
            <li><a href="/'.str_replace(" ", "_",
                Transfer::arm2translit($category_drink[$i]["title"])).'">'.$category_drink[$i]["title"].'</a>
            </li>
            ';
            }
            }
            ?>

        </ul>
    </div>
</div>
</span>
<!--div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Drinks</a></li>
    </ul>
</div>
<!--/div-->
<div class="panel" style="height: 100%; background-color: #022f22;">
    <div class="panel-heading">
        <h3 class="panel-title">Կարծիքներ</h3>
    </div>
    <div class="panel-body" style="background-color: #022f22">
        <?php
        $feedback = OpinionWidget::get_opinion_widget();
        rsort($feedback);
        $count = count($feedback);
        if ($count > 2) {
        $count = 2;
        }
        for ($f = 0; $f < $count; $f++) {
        ?>
        <div class="badger-right badger-info" data-badger="<?= $feedback[$f]["username"] ?>">
        <?php
                 if(strlen($feedback[$f]["message"]) < 128){
                echo $feedback[$f]["message"];
                 } else {
                echo substr($feedback[$f]["message"], 0 ,128)."<a href='".Config::$CONFIG["HOST"]."feedback/opinion/".$feedback[$f]["idfeedback"]."'>
        »»...</a>";
        }
        ?>
    </div>
    <?php } ?>
    <a href="/feedback/add" class="text-danger">Կարծիք Հայտնել․․․․․</a>
</div>
</div>