<div class="panel">
    <div class="panel-body" style="width: 100%;">
<img src="http://beerhouse.am/slidepics/mainpage.png" alt="opisanie" style="width: 100%;">
    </div>
    <?php //var_dump($registry); ?>
    <?php //var_dump($debug); ?>
</div>