<div class="panel panel-danger">
    <div class="panel-body" style="">
        <div class="row">
            <h3 class="panel-heading"><?= $registry->page_data[0]["title"] ?></h3>
        </div>
<hr>
        <?= $registry->page_data[0]["text"] ?>
    </div>


</div>
<?php //var_dump($registry->page_data);

?>